/*
Theme Name:  Gebaby
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Gebaby.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Gebaby
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA

	font-family: 'Open Sans', sans-serif;
	font-family: 'Amatic SC', cursive;

*/
*{
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #eaecfa;
    color:  #292929;
    
}

/* TOPO */
	.topo{
		background: #858ac8;
		padding: 20px 10px 0;
	}
		.topo .logo{
		
		}
			.topo .logo img{
				display: block;
				margin: auto;
			}
		.topo .navbar{
	
		}
			.topo .navbar button{
				display: none;
			}
				.topo .navbar button span{
	
				}
		.topo .navbar ul{
			padding: 0;
			margin: 0;
		}
			.topo .navbar ul li{

			}
				.topo .navbar ul li a{
					text-transform: uppercase;
					color: #fff;
					font-size: 22px;
					font-weight: 100;
				}
				.topo .navbar ul li a:hover{
					background: transparent;
				}
				.topo .navbar ul li a:focus{
					background: transparent;
				}

/* RODAPÉ */
	.rodape{
		background: #fff;
	    padding-top: 100px;
	}
		.rodape .menu{
		
		}
			.rodape .menu strong{
				color: #6167b7;
				display: block;
				text-transform: uppercase;
				font-size: 16px;
				margin-bottom: 20px;
			}
			.rodape .menu a{
				display: block;
				color: #6167b7;
				font-size: 17px;
				font-weight: 100;
				margin-bottom: 10px;
				text-decoration: none;
			}
				.rodape .menu a i{
					color: #fff;
					background: #f7ba50;
					padding: 5px;
					border-radius: 100%;
					display: inline-block;
					width: 30px;
					height: 30px;
					text-align: center;
					line-height: 22px;
				}
					.rodape .menu a:hover i{
						w-webkit-animation: bounce 1s ease;
						animation: bounce 1s ease;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}
			.rodape .formFooter{
				max-width: 430px;
			}
				.rodape .formFooter .input{
					width: 100%;
					max-width: 430px;
					border-radius: 5px;
					margin-bottom: 10px;
					position: relative;
				    padding-left: 45px;
				}
					.rodape .formFooter .input:before{
						content: "";
						display: block;
						position: absolute;
						width: 46px;
						height: 40px;
						background: #6167b7;
						left: 0;
						top: ;
					    border-radius: 5px 0px 0px 5px;
					    
					}
				.rodape .formFooter .input input{
					display: block;
					width: 100%;
					outline: none;
					background: #e9e9e9;
					height: 40px;
					border: none;
				    border-radius: 0px 5px 5px 0px;
					padding: 10px;

				}
				.rodape .formFooter .input small{
					display: block;
					position: absolute;
					width: 46px;
					height: 40px;
					left: 0;
					top: ;
					background-repeat: no-repeat!important;
					background-position: center!important;
				    

				}
				.rodape .formFooter .input .iconeRodape1{
					background: url(img/iconeRodape1.png)
				}
				.rodape .formFooter .input .iconeradpe2{
					background: url(img/iconeradpe2.png)
				}
				
				.rodape .formFooter .input .iconeRodape3{
					background: url(img/iconeRodape3.png)
				}
				
				

				.rodape .formFooter textarea{
					margin: 0;
					display: block;
					width: 100%;
					background: #e9e9e9;
					border: none;
					padding: 10px;
					outline: none;
					height: 135px;
					max-width: 100%;
					min-width: 100%;
					max-height: 135px;
					min-height: 135px;
					border-radius: 0px 5px 5px 0px;
				}
			.rodape .formFooter input[type="submit"]{
				float: right;
				display: block;
				background: #f5bb36;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				font-weight: 600;
				padding: 6px 25px;
				border-radius: 5px;
				border: none;
				font-size: 17px;
				outline: none;
			}
		.rodape .copyright{
			background: #feeed8;
			padding: 20px;
			text-align: center;
			margin-top: 50px;
		}
			.rodape .copyright p{
				margin: 0;
				color: #5f65bd;
				font-weight: 100;
				font-size: 17px;
				letter-spacing: 1px;
			}

/* PG ESTILOS GERAIS */
	.pg .paginador{
	    padding-bottom: 40px;
	}
		.pg .paginador a{
			background: #858ac8;
			display: inline-block;
			color: #fff;
			text-align: center;
			font-size: 25px;
			padding: 10px 40px;
			vertical-align: top;
			margin: 2px;
			text-decoration: none;
			font-family: 'Amatic SC', cursive;
			text-transform: uppercase;
			position: relative;
		}
		.pg .paginador .linksLeft a:before{
			content: "";
			display: block;
			width: 13px;
			height: 13px;
			background: url(img/cetaright.png);
			position: absolute;
			left: 15px;
			background-repeat: no-repeat!important;
			top: 22px;
		}
		.pg .paginador .linksRihgt a:before{
			content: "";
			display: block;
			width: 13px;
			height: 13px;
			background: url(img/cetaleft.png);
			position: absolute;
			right: 15px;
			background-repeat: no-repeat!important;
			top: 22px;
		}
		.pg aside{
			padding: 0 10px;
		}
			.pg aside .areaSobre{
				background: #fff;
				padding: 35px 20px;
			}
			
				.pg aside .areaSobre article{
		
				}
					.pg aside .areaSobre article figure{
						margin-bottom: 50px;
					}
						.pg aside .areaSobre article figure:hover{
							w-webkit-animation: swing 1s ease;
							animation: swing 1s ease;
							-webkit-animation-iteration-count: 1;
							animation-iteration-count: 1;
						}
						.pg aside .areaSobre article figure img{
							display: block;
							margin: 0 auto;
						}
					.pg aside .areaSobre article p{
						font-size: 15px;
						line-height: 27px;

					}
				.pg aside .areaLinksexternos{
					text-align: center;
					background: #fff;
					padding-top: 15px;
					padding-bottom: 15px;
					margin-top: 25px;
				}
					.pg aside .areaLinksexternos a{
						display: inline-block;
						text-decoration: none;
						width: 145px;
						height: 65px;
						background-position: center!important;
						background-repeat: no-repeat!important;
						background: #f7ba52;
						color: #fff;
						text-align: center;
						line-height: 65px;
						margin: 5px;
						vertical-align: top;
						font-size: 40px;
						overflow-x: hidden;
					}
					.pg aside .areaLinksexternos a:hover i{
						w-webkit-animation: bounce 1s ease;
						animation: bounce 1s ease;
						-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
					}

					
					.pg aside .areaLinksexternos .linkSite{
						background: url(img/linkSite.png);
					}
				.pg aside .areaPesquisa{
						text-align: center;
						background: #fff;
						margin-top: 25px;
						padding: 25px 20px;

				}
					.pg aside .areaPesquisa .form{
						display: block;
						width: 100%;
						background: #e9e9e9;
						position: relative;
					}
						.pg aside .areaPesquisa .form input{
							background: transparent;
							outline: none;
							border: none;
							
						}
						.pg aside .areaPesquisa .form input[type="text"]{
							width: 100%;
							height: 45px;
							padding: 10px;
						}
						.pg aside .areaPesquisa .form input[type="submit"]{
							position: absolute;
							right: 0;
							top: 0;
							z-index: 999;
							font-family: FontAwesome;
							height: 100%;
							width: 50px;
							font-size: 30px;
							background: #e9e9e9;
						}	
				.pg .areaFacebook{
					text-align: center;
					background: #fff;
					margin-top: 25px;
					padding: 25px 20px;
				}
					.pg .areaFacebook iframe{ 
						width: 100%;
					}
				.pg aside .areaIntagran{
					text-align: center;
					background: #fff;
					margin-top: 25px;
					padding: 25px 20px;
				}
					.pg aside .areaIntagran img{
						display: block;
						width: 100%;
					}
					.pg aside .areaSide h2{
						font-family: 'Amatic SC', cursive;
						text-transform: uppercase;
						text-align: center;
					}
			.pg aside .tagsBlog{
				text-align: center;
				background: #fff;
				margin-top: 25px;
				padding: 25px 20px;
			}
				.pg aside .tagsBlog a{
					background: #858ac8;
					display: inline-block;
					color: #fff;
					text-align: center;
					font-size: 14px;
					padding: 6px 15px;
					vertical-align: top;
					margin: 2px;
					text-decoration: none;
				}

/* PÁGINA INICIAL */
	.pg-inicial{

	}
		.pg-inicial .carrosselDestaque{
		
		}
			.pg-inicial .carrosselDestaque .item{
		
			}
				.pg-inicial .carrosselDestaque .item figure{
		
				}
					.pg-inicial .carrosselDestaque .item figure a{
						display: block;
					}
						.pg-inicial .carrosselDestaque .item figure img{
							display: block;
							width: 100%;
							height: auto;
						}
		.pg-inicial .conteudo{
			margin-top: 60px;
		}
			/* .pg-inicial .conteudo .posts{
				overflow-y: scroll;
			    height: 2090px;
			}
				.pg-inicial .conteudo .posts::-webkit-scrollbar{
					background:transparent;
					width:0;
				}
				.pg-inicial .conteudo .posts::-webkit-scrollbar-thumb{
					background:transparent;
					-webkit-border-radius:0;
				} */
				/* .single .pg-inicial .conteudo .posts{
					overflow-y: initial;
					height: inherit;
				} */
				.pg-inicial .conteudo .posts ul{
					padding: 0;
					list-style: none;
					margin: 0;
					
					text-align: center;
				}
					.pg-inicial .conteudo .posts ul li{
						display: block;
						margin: 0 auto 50px;
						width: 100%;
						max-width: 715px;
						background: #fff;
						padding: 35px 20px 75px;
					}
					.single .pg-inicial .conteudo .posts ul li{
						margin-bottom: 35px;
					}
						.pg-inicial .conteudo .posts ul li a{
							text-decoration:none;
						  	color:  #292929;
						  	display: block;
						}
						.single .pg-inicial .conteudo .posts ul li a{
							display: inline-block;
						}
							.pg-inicial .conteudo .posts ul li.catData{
								margin-bottom: 50px;
							}
								.pg-inicial .conteudo .posts ul li .catData h3{
									margin: 0;
									display: inline-block;
									font-family: 'Amatic SC', cursive;
								    font-size: 30px;
								    font-weight: bold;
								}
								.single .pg-inicial .conteudo .posts ul li .catData .cat{
									margin: 0;
									display: inline-block;
									font-family: 'Amatic SC', cursive;
								    font-size: 30px;
								    font-weight: bold;
								}
									.pg-inicial .conteudo .posts ul li .catData span{
										font-family: 'Amatic SC', cursive;
									    font-size: 30px;
									    font-weight: bold;
									}
										.pg-inicial .conteudo .posts ul li .catData span:before{
											content: "";
											display: inline-block;
											background: url(img/estrela.png);
											width: 16px;
											height: 19px;
											background-position: center!important;
											margin: 0 10px;

										}
								.pg-inicial .conteudo .posts ul li h2{
									margin-bottom:20px;
									font-size: 22px;
									text-transform: uppercase;
									color: #292929;
									text-align: center;
								}
									.pg-inicial .conteudo .posts ul li strong{
										margin-bottom:20px;
										font-size: 22px;
										text-transform: uppercase;
										color: #292929;
										text-align: center;
									}
								.single .pg-inicial .conteudo .posts ul li .titulo{
									margin-bottom:20px;
									font-size: 25px;
									text-transform: uppercase;
									color: #292929;
									text-align: center;
								}
								.single .pg-inicial .conteudo .posts ul li h2{
									
									text-transform: initial;
								    font-style: italic;
								}
									.single .pg-inicial .conteudo .posts ul li strong{
										text-transform: initial;
								    	font-style: italic;
							    	    font-weight: 400;
									}
								.pg-inicial .conteudo .posts ul li .detalhe{
									margin-bottom:40px;
								}
								.pg-inicial .conteudo .posts ul li figure{
									display: block;
									margin-bottom: 50px;
								}
									.pg-inicial .conteudo .posts ul li figure img{
										display: block;
										width: 100%;
										height: auto;
										margin: 0 auto;
									}
										.pg-inicial .conteudo .posts ul li:hover figure img{
											w-webkit-animation: pulse 1s ease;
											animation: pulse 1s ease;
											-webkit-animation-iteration-count: 1;
											animation-iteration-count: 1;
										}
								.pg-inicial .conteudo .posts ul li p{
									margin: 0;
									font-size: 18px;
									text-align: left;
									line-height: 26px;
									font-weight: 100;
								}
								.pg-inicial .conteudo .posts ul li a .lerMais{
									background: #858ac8;
									display: inline-block;
									width: 100%;
									max-width: 210px;
									height: 51px;
									color: #fff;
									text-align: center;
									text-transform: uppercase;
									font-weight: 100;
									font-family: 'Amatic SC', cursive;
									font-size: 32px;
									line-height: 51px;
									border-radius: 5px;
									margin-top: 55px;
								}
									.pg-inicial .conteudo .posts ul li a .lerMais:hover{
									    background: #535894;
									}
									.pg-inicial .conteudo .posts ul li a .lerMais small{
										display: inline-block;
										background: url(img/mais.png);
										background-position: center!important;
										background-repeat: no-repeat!important;
										width: 30px;
										height: 30px;
										vertical-align: middle;
									}
					.carrosselOutros{
					    margin-bottom: 50px;
					}
						.carrosselOutros .item{
							max-width: 192px;	
							background:#fff;
							margin: 0 auto;
						}
							.carrosselOutros .item a{
								display: block;
								text-decoration: none;
								color: #282828;
							}
								.carrosselOutros .item a figure{
									display: block;
								    min-height: 124px;
								}
									.carrosselOutros .item a figure img{
										width: 100%;
										display: block;
										height: auto;
									}
								.carrosselOutros .item a p{
									font-size: 11px;
									padding: 20px 10px;
									min-height: 87px;
								}

						
									
/* EXTRAS */
	#sb_instagram .sb_instagram_header h3.sbi_no_bio{
		padding-top: 9px!important;
		font-family: 'Amatic SC', cursive;
		text-transform: uppercase;
		text-align: center;
		font-size: 29px;
		color: #292929;
	}
	.aligncenter{
		display: block;
		margin: 0 auto;
	}
	.conteudoSingle img{
		display: block;
		width: 100%;
		height: auto;		
	}
	.conteudoSingle tr{
		border-bottom: 1px solid #eee;	
	}
	.conteudoSingle td{
		    padding: 0.4em;	
	}
	.disqus{
   	 padding: 20px 15px 0;
	}
	.compartilhar{
		border: solid 1px;
		max-width: 200px;
		margin: 0 auto;
		font-size: 27px;
		margin-top: 80px;
	}
		.compartilhar:hover{
			background:#292929;
		}
		.compartilhar a{
			font-family: 'Amatic SC', cursive;
			text-decoration: none;
		}
				.compartilhar:hover a{
					color: #fff!important;
				}
			.compartilhar:after{
				content: '';
				display: inline-block;
				background: url(img/icoCompartilhar.png);
				background-repeat: no-repeat!important;
				width: 22px;
				height: 27px;
				vertical-align: sub;
				margin: 0 15px;
			}
			.compartilhar:hover:after{
				-webkit-filter: brightness(0) invert(1);
				filter: brightness(0) invert(1);
				transition: All .1s ease;
				-webkit-transition: All .1s ease;
				-moz-transition: All .1s ease;
				-o-transition: All .1s ease;
			}

/* @MEDIAS */
	@media(max-width: 1200px){
		.container	{
			width: 100%;
		}
	}
	@media(max-width: 991px){
		.pg aside .areaLinksexternos a{
		    width: 110px;
		}
		.rodape .formFooter {
		    max-width: 430px;
		    margin: 0 auto;
		}
	}
	@media(max-width: 767px){
		.topo .navbar button{
			display: block;
			border: solid 1px #fff;
		}
		.topo .navbar button span{
			background: #fff;
		}
		.pg aside .areaLinksexternos a{
		 		width: 145px;
		}
		.pg .areaFacebook iframe {
		    width: 100%;
		    text-align: center;
		    margin: 0 auto;
		    max-width: 351px;
		}
		.rodape{
			padding: 10px;
			text-align: center;
		}
		.aligncenter{
			display: block;
			width: 100%;
			height: auto;
		}
		.linksLeft{
			text-align: center;
		}
		.linksRihgt{
			text-align: center;
		}

	}
	@media(max-width: 500px){
		.pg-inicial .conteudo .posts ul li h2{
			font-size: 20px;
		}
		.pg-inicial .conteudo .posts ul li strong{
			font-size: 20px;
		}
		.topo .navbar ul li a{
			font-size: 17px;
		}
		.single .pg-inicial .conteudo .posts ul li .titulo{
			font-size: 17px;
		}
	}
	
		
















