/*
Theme Name:  Gebaby
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: Gebaby.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Gebaby
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA

	font-family: 'Open Sans', sans-serif;
	font-family: 'Amatic SC', cursive;

*/
*{
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #eaecfa;
    color:  #292929;
    
}

/* TOPO */
	.topo{
		background: #858ac8;
		padding: 20px 10px 0;
	}
		.topo .logo{
		
		}
			.topo .logo img{
				display: block;
				margin: auto;
			}
		.topo .navbar{
	
		}
			.topo .navbar button{
	
			}
				.topo .navbar button span{
	
				}
		.topo .navbar ul{
			padding: 0;
			margin: 0;
		}
			.topo .navbar ul li{

			}
				.topo .navbar ul li a{
					text-transform: uppercase;
					color: #fff;
					font-size: 22px;
					font-weight: 100;
				}
				.topo .navbar ul li a:hover{
					background: transparent;
				}
				.topo .navbar ul li a:focus{
					background: transparent;
				}

/* RODAPÉ */
	.rodape{
		background: #fff;
	    padding-top: 100px;
	    margin-top: 100px;
	}
		.rodape .menu{
		
		}
			.rodape .menu strong{
				color: #6167b7;
				display: block;
				text-transform: uppercase;
				font-size: 16px;
				margin-bottom: 20px;
			}
			.rodape .menu a{
				display: block;
				color: #6167b7;
				font-size: 17px;
				font-weight: 100;
				margin-bottom: 10px;
				text-decoration: none;
			}
				.rodape .menu a i{
					color: #fff;
					background: #f7ba50;
					padding: 5px;
					border-radius: 100%;
					display: inline-block;
					width: 30px;
					height: 30px;
					text-align: center;
					line-height: 22px;
				}
			.rodape .formFooter{
				max-width: 430px;
			}
				.rodape .formFooter .input{
					width: 100%;
					max-width: 430px;
					border-radius: 5px;
					margin-bottom: 10px;
					position: relative;
				    padding-left: 45px;
				}
					.rodape .formFooter .input:before{
						content: "";
						display: block;
						position: absolute;
						width: 46px;
						height: 40px;
						background: #6167b7;
						left: 0;
						top: ;
					    border-radius: 5px 0px 0px 5px;
					    
					}
				.rodape .formFooter .input input{
					display: block;
					width: 100%;
					outline: none;
					background: #e9e9e9;
					height: 40px;
					border: none;
				    border-radius: 0px 5px 5px 0px;
					padding: 10px;

				}
				.rodape .formFooter .input small{
					display: block;
					position: absolute;
					width: 46px;
					height: 40px;
					left: 0;
					top: ;
					background-repeat: no-repeat!important;
					background-position: center!important;
				    

				}
				.rodape .formFooter textarea{
					margin: 0;
					display: block;
					width: 100%;
					background: #e9e9e9;
					border: none;
					padding: 10px;
					outline: none;
					height: 135px;
					max-width: 100%;
					min-width: 100%;
					max-height: 135px;
					min-height: 135px;
					border-radius: 0px 5px 5px 0px;
				}
			.rodape .formFooter input[type="submit"]{
				float: right;
				display: block;
				background: #f5bb36;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				font-weight: 600;
				padding: 6px 25px;
				border-radius: 5px;
				border: none;
				font-size: 17px;
				outline: none;
			}
		.rodape .copyright{
			background: #feeed8;
			padding: 20px;
			text-align: center;
			margin-top: 50px;
		}
			.rodape .copyright p{
				margin: 0;
				color: #5f65bd;
				font-weight: 100;
				font-size: 17px;
				letter-spacing: 1px;
			}


/* PG ESTILOS GERAIS */
	.pg{

	}
		.pg aside{
			padding: 0 10px;
		}
			.pg aside .areaSobre{
				background: #fff;
				padding: 35px 20px;
			}
			
				.pg aside .areaSobre article{
		
				}
					.pg aside .areaSobre article figure{
						margin-bottom: 50px;
					}
						.pg aside .areaSobre article figure img{
							display: block;
							margin: 0 auto;
						}
					.pg aside .areaSobre article p{
						font-size: 15px;
						line-height: 27px;

					}
				.pg aside .areaLinksexternos{
					text-align: center;
					background: #fff;
					padding-top: 15px;
					padding-bottom: 15px;
					margin-top: 25px;
				}
					.pg aside .areaLinksexternos a{
						display: inline-block;
						text-decoration: none;
						width: 145px;
						height: 65px;
						background-position: center!important;
						background-repeat: no-repeat!important;
						background: #f7ba52;
						color: #fff;
						text-align: center;
						line-height: 65px;
						margin: 5px;
						vertical-align: top;
						font-size: 40px;
					}


					
					.pg aside .areaLinksexternos .linkSite{
						background: url(../img/linkSite.png);
					}
				.pg aside .areaPesquisa{
						text-align: center;
						background: #fff;
						margin-top: 25px;
						padding: 25px 20px;

				}
					.pg aside .areaPesquisa .form{
						display: block;
						width: 100%;
						background: #e9e9e9;
						position: relative;
					}
						.pg aside .areaPesquisa .form input{
							background: transparent;
							outline: none;
							border: none;
							
						}
						.pg aside .areaPesquisa .form input[type="text"]{
							width: 100%;
							height: 45px;
							padding: 10px;
						}
						.pg aside .areaPesquisa .form input[type="submit"]{
							position: absolute;
							right: 0;
							top: 0;
							z-index: 999;
							font-family: FontAwesome;
							height: 100%;
							width: 50px;
							font-size: 30px;
							background: #e9e9e9;
						}	
				.pg .areaFacebook{
					text-align: center;
					background: #fff;
					margin-top: 25px;
					padding: 25px 20px;
				}
					.pg .areaFacebook iframe{ 
						width: 100%;
					}
				.pg aside .areaIntagran{
					text-align: center;
					background: #fff;
					margin-top: 25px;
					padding: 25px 20px;
				}
					.pg aside .areaSide h2{
						font-family: 'Amatic SC', cursive;
						text-transform: uppercase;
						font-weight: 100;
						text-align: center;
					}
			.pg aside .tagsBlog{
				text-align: center;
				background: #fff;
				margin-top: 25px;
				padding: 25px 20px;
			}
				.pg aside .tagsBlog a{
					background: #858ac8;
					display: inline-block;
					color: #fff;
					text-align: center;
					font-size: 14px;
					padding: 6px 15px;
					vertical-align: top;
					margin: 2px;
					text-decoration: none;
				}

/* PÁGINA INICIAL */
	.pg-inicial{

	}
		.pg-inicial .carrosselDestaque{
		
		}
			.pg-inicial .carrosselDestaque .item{
		
			}
				.pg-inicial .carrosselDestaque .item figure{
		
				}
					.pg-inicial .carrosselDestaque .item figure a{
						display: block;
					}
						.pg-inicial .carrosselDestaque .item figure img{
							display: block;
							width: 100%;
							height: auto;
						}
		.pg-inicial .conteudo{
			margin-top: 60px;
		}
			.pg-inicial .conteudo .posts{
				
			}
				.pg-inicial .conteudo .posts ul{
					padding: 0;
					list-style: none;
					margin: 0;
					
					text-align: center;
				}
					.pg-inicial .conteudo .posts ul li{
						display: block;
						margin: 0 auto 50px;
						width: 100%;
						max-width: 715px;
						background: #fff;
						padding: 35px 20px 35px;
					}
						.pg-inicial .conteudo .posts ul li a{
							text-decoration:none;
						  	color:  #292929;
						  	display: block;
						}
							.pg-inicial .conteudo .posts ul li a .catData{
								margin-bottom: 50px;
							}
								.pg-inicial .conteudo .posts ul li a .catData h3{
									margin: 0;
									display: inline-block;
									font-family: 'Amatic SC', cursive;
								    font-size: 30px;
								    font-weight: bold;
								}
									.pg-inicial .conteudo .posts ul li a .catData span{
										font-family: 'Amatic SC', cursive;
									    font-size: 30px;
									}
										.pg-inicial .conteudo .posts ul li a .catData span:before{
											content: "";
											display: inline-block;
											background: url(../img/estrela.png);
											width: 16px;
											height: 19px;
											background-position: center!important;
											margin: 0 10px;

										}
								.pg-inicial .conteudo .posts ul li a h2{
									margin-bottom:20px;
									font-size: 25px;
									text-transform: uppercase;
									font-weight: 100;
									color: #292929;
									text-align: center;
								}
								.pg-inicial .conteudo .posts ul li a .detalhe{
									margin-bottom:40px;
								}
								.pg-inicial .conteudo .posts ul li a figure{
									display: block;
									margin-bottom: 50px;
								}
									.pg-inicial .conteudo .posts ul li a figure img{
										display: block;
										width: 100%;
										height: auto;
										margin: 0 auto;
									}
								.pg-inicial .conteudo .posts ul li a p{
									margin: 0;
									font-size: 18px;
									text-align: left;
									line-height: 26px;
									font-weight: 100;
								}
								.pg-inicial .conteudo .posts ul li a .lerMais{
									background: #858ac8;
									display: inline-block;
									width: 100%;
									max-width: 210px;
									height: 51px;
									color: #fff;
									text-align: center;
									text-transform: uppercase;
									font-weight: 100;
									font-family: 'Amatic SC', cursive;
									font-size: 32px;
									line-height: 51px;
									border-radius: 5px;
									margin-top: 55px;
								}






















